body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2, h3 {
  margin-top: 2rem;
}

a {
  color: #f89f5b;
}

code {
  background: #f0f0f0;
  border-radius: 0.2rem;
  padding: 0.2rem;
  min-height: 12rem;
  max-width: 100%;
}

.highlight {
  color: #f89f5b;
  text-decoration: underline;
}

.docimage {
  width: 12rem;
  max-width: 100%;
  max-height: 100%;
  display: block;
  border: 1px solid #f0f0f0;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
}

@media screen and (prefers-color-scheme: dark) {
  html {
    background: #111111;
    color: #f0f0f0;
  }
  code {
    background: #222222;
  }
  a, .highlight {
    color: #df86fa;
  }
}